<%- include('partials/head.ejs') %>
	<body class="home">
		<section>
			<h1>Een verzameling herinneringen van Amsterdam</h1>
			<p>Benieuwd wat jij kan verzamelen aan herinneringen? Maak een eigen verhaal!</p>
		</section>

		<aside>
			<form action="/new-story">
				<button class="prev slider">
					<svg width="16px" height="26px" viewBox="0 0 16 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
					    <title>Disclosure Indicator Copy 2</title>
					    <desc>Created with Sketch.</desc>
					    <defs></defs>
					    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					        <g id="Home-optie1" transform="translate(-1080.000000, -416.000000)" fill="#FFFFFF">
					            <polygon id="Disclosure-Indicator-Copy-2" transform="translate(1088.000000, 429.000000) scale(-1, 1) translate(-1088.000000, -429.000000) " points="1080 419 1083 416 1096 429 1083 442 1080 439 1090 429"></polygon>
					        </g>
					    </g>
					</svg>
				</button>
			  <div>
					<label for="choice1">
						<img src="/images/person.svg" alt="iconPerson"/>
				    <input checked type="radio" id="choice1" name="story" value="person">
						<p>Een verhaal over één persoon. Bijvoorbeeld een verhaal over jouzelf, jouw oma of Anne Frank.</p>
						<section></section>
					</label>
				</div>
				<div>
					<label for="choice2">
						<img src="/images/building.svg" alt="iconBuilding"/>
				    <input type="radio" id="choice2" name="story" value="building">
						<p>Een plaats gevonden verhaal. Bijvoorbeeld een verhaal over het Centraal Station, Amsterdam Oost of jouw lokale sportvereniging.</p>
						<section></section>
					</label>
				</div>
				<div>
					<label for="choice3">
						<img src="/images/blanco.svg" alt="iconBlanco"/>
				    <input type="radio" id="choice3" name="story" value="blanco">
						<p>Een nog niet ingevuld verhaal. Voor wanneer je een eigen onderzoek wilt uitwerken of wanneer jij jouw eigen verhaal wilt creeëren.</p>
						<section></section>
					</label>
				</div>
				<button class="next slider">
					<svg width="16px" height="26px" viewBox="0 0 16 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
							<title>Disclosure Indicator Copy</title>
							<desc>Created with Sketch.</desc>
							<defs></defs>
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Home-optie1" transform="translate(-1386.000000, -416.000000)" fill="#FFFFFF">
											<polygon id="Disclosure-Indicator-Copy" points="1386 419 1389 416 1402 429 1389 442 1386 439 1396 429"></polygon>
									</g>
							</g>
					</svg>
				</button>
				<nav></nav>

		    <button type="submit">Maak mijn verhaal</button>
			</form>
		</aside>

		<section>
			<h3>Eerder gemaakt</h3>
			<div class="search">
				<img src="/images/search.svg"/>
				<input id="story-name" name="story-name" type="text" placeholder="Naam van het verhaal.." />
			</div>
			<div class="stories">
				<a href="">
					<img src="/images/stock1.jpg" alt=""/>
					<p>Het spui</p>
				</a>
				<a href="">
					<img src="/images/stock2.jpg" alt=""/>
					<p>Opa Bol 80</p>
				</a>
				<a href="">
					<img src="/images/stock3.jpg" alt=""/>
					<p>Miep Valkuile</p>
				</a>
				<a href="">
					<img src="/images/stock1.jpg" alt=""/>
					<p>Het spui</p>
				</a>
				<a href="">
					<img src="/images/stock2.jpg" alt=""/>
					<p>Opa Bol 80</p>
				</a>
				<a href="">
					<img src="/images/stock3.jpg" alt=""/>
					<p>Miep Valkuile</p>
				</a>
			</div>
		</section>

	<script>
	if('querySelector' in document && 'querySelectorAll' in document && 'addEventListener' in window) {
		var prev = document.querySelector('.prev');
		var next = document.querySelector('.next');
		var sections = document.querySelectorAll("aside form div");
		var buttons = document.querySelectorAll(".slider");
		var slideIndex = 1;

		buttons.forEach(function(button){
			button.style.display = "inline-block";
		})

		//create dot navigation
		for(var i = 0; i < sections.length; i++) {
			var nav = document.querySelector('nav');
			var dot = document.createElement('button');
			nav.appendChild(dot);
		}
		var dots = document.querySelectorAll('nav button');
		dots[0].classList.add("activeSlider")

		//prev next buttons function
		function showDivs(n) {
			var i;
			if (n > sections.length){
				slideIndex = 1
			}
			if (n < 1) {
				slideIndex = sections.length
			}
			for (i = 0; i < sections.length; i++) {
				 sections[i].style.display = "none";
			}
			sections[slideIndex-1].childNodes[1].childNodes[3].checked = true
			sections[slideIndex-1].style.display = "inline-block";
		}

		showDivs(slideIndex);

		function plusDivs(n) {
			showDivs(slideIndex += n);
			for (i = 0; i < dots.length; i++) {
				dots[i].classList.remove("activeSlider");
			}
			dots[slideIndex-1].classList.add("activeSlider");

		}

		prev.addEventListener('click', function(e){
			e.preventDefault();
			plusDivs(-1)
		});

		next.addEventListener('click', function(e){
			e.preventDefault();
			plusDivs(1)
		});

		//dot navigation
		function specificDivs(n) {
			showDivs(slideIndex = n);
			for (i = 0; i < dots.length; i++) {
				dots[i].classList.remove("activeSlider");
			}
			dots[slideIndex-1].classList.add("activeSlider");
		}

		dots.forEach(function(el, index){
			el.addEventListener('click', function(e){
				e.preventDefault();
				specificDivs(index + 1)
			})
		})
	}
	</script>
<%- include('partials/foot.ejs') %>
