<%- include('partials/head.ejs') %>
  <body class="save-story">

    <h1>Jouw url: <strong><%= url %></strong></h1>

    <h1>Jouw unieke code: <strong><%= key %></strong></h1>

<%- include('partials/foot.ejs') %>
