/* HOMEPAGE: INTRO */
/* radio buttons */
.home h1 {
	text-align: center;
	height: 5%;
}

.home a {
	display: block;
	text-align: center;
	height: 2%;
}

.home form {
	display: flex;
	width: 80vw;
	margin-left: 10vw;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.home form div {
	text-align: center;
	flex-basis: 25%;
	height: 40vh;
	margin-top: 10%;
	z-index: 100;
}

.home form input[type="radio"] {
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.home form input[type="radio"]:checked ~ section {
	position: absolute;
	width: 20%;
	height: 37.5vh;
	z-index: -100;
	top: 17%;
	background-color: lightgrey;
}

.home form input[type="radio"]:checked ~ section::after {
	background-image: url('/images/checked.png');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
	margin-left: 95%;
	margin-top: -2%;
}

.home form img {
	z-index: 100;
	display: block;
	width: 3em;
	margin-left: calc(50% - 1.5em);
}

.home form button {
	margin-left: 25%;
	flex-basis: 50%;
}

/* NEW-STORY */
/* leaflet map */
.new-story #map {
	width: 80vw;
	height: 50vh;
	margin-left: 10vw;
}

.new-story .mapboxgl-ctrl-logo {
	display: none !important;
}

.new-story .mapboxgl-ctrl-bottom-right {
	display: none;
}

/* multiple rangeslider */
.new-story form {
	margin-top: 5%;
}

.new-story input[type="range"] {
	width: 80vw;
	margin-left: 10vw !important;
}

.new-story output {
	display: inline-block;
	width: 40vw;
}

.new-story output:first-of-type {
	margin-left: 10vw;
}

.new-story output:last-of-type {
	text-align: right;
}

/* CREATE-STORY */
/* form */
.create-story h1 {
	margin-left: 5vw;
	height: 5vh;
}

.create-story .user-data {
	width: 20vw;
  float: right;
  margin: 0 5vw;
}

.create-story form + section {
	width: 65vw;
}

.create-story label .user-data {
	display: block;
}

.create-story .user-data input[type="text"], .create-story .user-data input[type="number"] {
	display: block;
	margin-bottom: 2%;
}

.create-story .data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 5vw;
}

.create-story .data a {
	flex-basis: 18vw;
	/* height: 35vh; */
}

.create-story .data label {
	cursor: pointer;
}

.create-story div img {
	width: 100%;
}

.create-story h2 {
	margin-left: 5vw;
	height: 5vh;
}


.create-story form input[type="checkbox"] {
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.create-story form input[type="checkbox"]:checked ~ section {
	position: absolute;
	display: block;
	width: 18vw;
	height: auto;
	opacity: 1;
	z-index: 100;
}

.create-story form input[type="checkbox"]:checked ~ img {
	opacity: 0.5;
}

.create-story form input[type="checkbox"]:checked ~ section::after {
	background-image: url('/images/checked.png');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
	margin-left: 95%;
	margin-top: -2%;
}
