:root {
  /* Colors: */
  --main-black: #000;
  --main-white: #fff;
	/* --main-lightgrey: lightgrey; */
	/* --main-bg: LightSlateGrey; */
	--main-red: #da121a;

  /* Fonts: */
  --font-family: helvetica, sans-serif;

    /* Base font: */
    --base-fz: 1em;
    --base-fw: 400;
    --base-lh: 1.4;

    /* Heading font: */
    --heading-fz: 1.5em;
    --heading-fw: 700;
    --heading-lh: 1.2;

    /* Subheading font: */
    --subheading-fz: 1.5em;
    --subheading-fw: 400;
    --subheading-lh: 1.2;

    /* Form elements font: */
    --form-fz: 1em;
    --form-fw: 700;
    --form-lh: 1;

  /* Spacing: */
  --main-spacing: 1.5rem;
}
@media all and (min-width: 50em) {
  :root {
    /* Heading font: */
    --heading-fz: 2.25em;
  }
}

/*
====================
  General
====================
*/

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  color: var(--main-black);
  font-family: var(--font-family);
  font-size: var(--base-fz);
  font-weight: var(--base-fw);
  line-height: var(--base-lh);
}

h1 {
  font-size: var(--heading-fz);
  font-weight: var(--heading-fw);
  line-height: var(--heading-lh);
}

h2 {
  font-size: var(--subheading-fz);
  font-weight: var(--subheading-fw);
  line-height: var(--subheading-lh);
}

button,
input,
select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  padding: 0 1rem;
  border: 0;
  border-radius: .625rem;
  color: var(--main-white);
  background-color: var(--main-black);
  font-size: var(--form-fz);
  font-weight: var(--form-fw);
  line-height: var(--form-lh);
}
button:focus,
button:hover,
select:focus,
select:hover {
  background-color: var(--main-red);
}

button,
select {
  cursor: pointer;
}

button.action-btn {
  background-color: var(--main-red);
}
button.action-btn:focus,
button.action-btn:hover {
  background-color: var(--main-black);
}

/*
====================
  Image detail
====================
*/

.detail {
  position: fixed;
  left: 0;
  top: 0;
	z-index: 10000;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
}
.detail.show {
	display: flex;
}

.detail > div {
  position: relative;
  display: block;
  width: min-content;
  height: auto;
  max-height: 100%;
  padding: var(--main-spacing);
  border-radius: .625rem;
  background-color: var(--main-white);
}

.detail > div img {
  max-width: calc(100vw - (4 * var(--main-spacing)));
  margin-bottom: var(--main-spacing);
}

.popupCloseButton {
  position: absolute;
  right: -1.5625rem;
  top: -1.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
	color: var(--main-white);
  background-color: var(--main-red);
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}
.popupCloseButton:focus,
.popupCloseButton:hover {
  background-color: var(--main-black);
}

/*
====================
  Homepage
====================
*/

/* radio buttons */
.home section:first-of-type, .home section:last-of-type {
	width: 90%;
	margin-left: 5%;
}

.home aside {
	width: 100%;
}

@media only screen and (min-width: 50em) {
	.home section:first-of-type {
		display: inline-block;
		width: 55%;
		float: left;
	}

	.home aside {
		display: inline-block;
		width: 35%;
		margin-left: 5%;
		float: right;
	}

	.home section:last-of-type {
		display: inline-block;
		width: 55%;
		float: left;
	}
}

.home section:first-of-type h1 {
	font-size: 4em;
	margin-top: 20vh;
	width: 80%;
	font-weight: bolder;
}

.home section:first-of-type h1 span {
	font-size: 140%;
	color: var(--main-red);
}

.home section:first-of-type p {
	font-size: 1.1em;
	width: 50%;
	font-weight: light;
}

.home section:last-of-type input {
	display: block;
	background-color: var(--main-red);
	color: var(--main-white);
	border: none;
	padding: 2%;
	margin-bottom: 2%;
	text-indent: 30px;
	height: 5vh;
	width: 60%;
	border-radius: 10px;
}

.home section:last-of-type input::placeholder {
	color: rgba(255,255,255,0.7);
}

.home section:last-of-type div.search {
	position: relative;
}

.home section:last-of-type div.search img {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
	width: 15px !important;
}

.home section:last-of-type .stories a {
	display: inline-block;
	width: 30%;
	margin-right: 2%;
}

.home section:last-of-type .stories a img {
	width: 100%;
}

.home section:last-of-type .stories a p {
	margin-bottom: 2rem;
}

.home aside {
	background-color: var(--main-red);
	height: 100%;
	top: 0;
}

.home aside h2 {
	color: white;
	width: 80%;
	margin-left: 10%;
	margin-top: 30%;
	text-align: center;
}

.home form {
	width: 80%;
	padding-top: 10%;
	margin: 0;
	margin-left: 10%;
}

@media only screen and (min-width: 50em) {
	.home aside {
		position: fixed;
	}
}

.home form div {
	display: inline-block;
	text-align: center;
	width: 70%;
	margin-left: 5%;
	z-index: 100;
	color: var(--main-white);
	height: 12em;
}

.home form button.slider {
	display: inline-block;
	float: left;
	background: none;
	border: none;
	margin-top: 10%;
}

.home form .next {
	float: right !important;
}

.home form div img {
	display: block;
	width: 30%;
	margin-left: 35%;
}

.home form div p {
	width: 90%;
	margin-left: 5%;
	text-align: center;
	font-size: 1em;
}

.home form input[type="radio"] {
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.home form nav {
	margin-top: 10%;
	width: calc(25px*3);
	margin-left: calc((100% - 25px*3)/2);
}

.home form nav button {
	cursor: pointer;
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: 5px;
	border: 0;
}

.activeSlider {
	background-color: white !important;
}

.home form button[type="submit"] {
	margin-top: 10%;
	width: 80%;
	height: 7.5%;
	margin-left: 10%;
	border: none;
	color: var(--main-red);
  background-color: #fff;
	font-weight: bold;
	font-size: 1em;
	border-radius: 10px;
  cursor: pointer;
}
.home form button[type="submit"]:focus,
.home form button[type="submit"]:hover,
.home form button[type="submit"]:active {
  color: #fff;
  background-color: #000;
}

/*
====================
  New Story
====================
*/

/* leaflet map */
.new-story #map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100vw;
	height: 100vh;
}

.new-story #map .leaflet-interactive {
	fill: var(--main-red);
	stroke: var(--main-red);
}

.new-story .mapboxgl-ctrl-logo {
	display: none !important;
}

.new-story .mapboxgl-ctrl-bottom-right {
	display: none;
}

/* Meta data */
.new-story .meta-data {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: calc(5% + 3.5rem) 1fr;
  align-items: start;
  width: 100%;
  height: 0;
}
@media all and (min-width: 50em) {
  .new-story .meta-data {
    align-items: stretch;
    min-width: 25rem;
    width: 30%;
    height: 100vh;
    background-color: rgba(255,255,255,.8);
  }
}

/* Timestamp */
.new-story .timestamp {
  grid-row: span 2;
  grid-column: 1/2;
  display: block;
  height: 100vh;
  background-color: rgba(255,255,255,.8);
}
@media all and (min-width: 50em) {
  .new-story .timestamp {
    background-color: transparent;
  }
}

/* Slider */
#slider {
	position: absolute;
	top: 4vh;
	left: 5%;
  display: block;
	height: 92vh;
	width: var(--main-spacing);
  border-radius: var(--main-spacing);
}

.noUi-background {
	background: var(--main-black);
}

.noUi-vertical {
	width: 2rem;
}

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.noUi-base {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.noUi-connect {
	background-color: var(--main-red);
}

.noUi-origin {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: var(--main-spacing);
}

.animate {
	transition: top 1s;
}

.noUi-vertical .noUi-handle {
	position: relative;
  left: -1rem;
  top: -2rem;
	z-index: 1;
  width: 3.5rem;
  height: 3.5rem;
  border: .3rem solid var(--main-red);
	border-radius: 50%;
	background-color: var(--main-white);
	cursor: ns-resize;
}

.noUi-tooltip {
	position: absolute;
  left: .3rem;
  top: .9rem;
	height: 1rem;
	font-weight: var(--form-fw);
}

/* Outputs */
.new-story .timestamp-min-static,
.new-story .timestamp-max-static {
  position: absolute;
  left: 4.5rem;
  z-index: 0;
  display: none;
  font-size: var(--subheading-fz);
}
@media all and (min-width: 50em) {
  .new-story .timestamp-min-static,
  .new-story .timestamp-max-static {
    display: block;
  }
}

.new-story .timestamp-min-static {
  top: 4vh;
}

.new-story .timestamp-max-static {
  bottom: 4vh;
}

#rangevalueMin,
#rangevalueMax {
	display: none;
}

/* Select street */
.new-story .select-street {
  grid-row: span 2;
  grid-column: 2/2;
  z-index: 10;
  display: block;
  background-color: rgba(255,255,255,.8);
}
@media all and (min-width: 50em) {
  .new-story .select-street {
    grid-row: 2/2;
    background-color: transparent;
  }
}

.new-story .select-street h1 {
  margin-top: 2rem;
  max-width: 25rem;
}
@media all and (min-width: 50em) {
  .new-story .select-street h1 {
    margin-top: 0;
  }
}

/* Searchbar */
.new-story .search-location input {
	display: inline-block;
	width: calc(100% - 6.5rem);
  max-width: 20rem;
  margin: var(--main-spacing) 0;
	border: .1875rem solid var(--main-black);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  outline: 0;
  color: var(--main-black);
  background-color: var(--main-white);
  font-weight: var(--base-fw);
}
.new-story .search-location input:focus {
  border-color: var(--main-red);
}

.new-story .search-location button {
	display: inline-block;
	width: 5rem;
	border: .1875rem solid var(--main-black);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -.25rem;
  cursor: pointer;
}
.new-story .search-location button:focus,
.new-story .search-location button:hover {
  border-color: var(--main-red);
}

/* Autocomplete */
.new-story .autocomplete {
  display: block;
  width: calc(100% - var(--main-spacing));
}

.new-story .autocomplete ul {
  display: block;
  width: 100%;
  padding: 0;
}

.new-story .autocomplete li {
  display: block;
}

.new-story .autocomplete li a {
  display: block;
  padding: 1rem;
  border-bottom: .1875rem solid var(--main-black);
  color: var(--main-black);
  text-decoration: none;
}
.new-story .autocomplete li a:focus,
.new-story .autocomplete li a:hover,
.new-story .autocomplete li a:active,
.new-story .autocomplete li a.autocomplete-active {
  color: var(--main-red);
  border-color: var(--main-red);
}

/* Radius select */
.new-story .radiusSelect {
  overflow: hidden;
	width: calc(100% - var(--main-spacing));
  max-width: 25rem;
  border-radius: .625rem;
  margin-bottom: 5%;
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 95% 0;
  background-size: auto 100%;
	background-color: var(--main-black);
}
.new-story .radiusSelect:focus,
.new-story .radiusSelect:hover,
.new-story .radiusSelect:active {
  background-color: var(--main-red);
}

.new-story .radiusSelect select {
  width: 100%;
	border: none;
  background-color: transparent;
  font-weight: var(--base-fw);
}

/* Submit button */
.new-story form.submit-location-and-timestamp button {
	position: absolute;
  right: 3.5rem;
	bottom: 3.5vh;
	width: calc(95% - 7.5rem);
  max-width: 15rem;
}
@media all and (min-width: 50em) {
  .new-story form.submit-location-and-timestamp button {
    right: 5rem;
  }
}

.new-story form.submit-location-and-timestamp button::after {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-left: 5%;
  background-image: url('/images/chevron-sign-to-right.svg');
	background-size: 1rem 1rem;
  content: '';
}

/*
====================
  Create Story
====================
*/

/* Layout page */
.create-story .grid {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/* Map visualisation */
.create-story .map-visualisation {
	display: none;
}
@media all and (min-width: 50em) {
  .create-story .map-visualisation {
    position: fixed;
    left: 0;
		top: 0;
    z-index: 1;
		display: block;
		width: 4.5rem;
	}
}

.create-story .map-visualisation #map {
  width: 20vw;
	height: 100vh;
}

.create-story .map-visualisation #map .leaflet-interactive {
	display: none;
}

.create-story .map-visualisation .back {
	position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 4.5rem;
  height: 4.5rem;
  padding: var(--main-spacing);
  background-color: rgba(255,255,255,.8);
  text-decoration: none;
}

.create-story .map-visualisation .back svg {
	width: 100%;
	height: 100%;
}
.create-story .map-visualisation .back:focus svg,
.create-story .map-visualisation .back:hover svg,
.create-story .map-visualisation .back:active svg {
  fill: var(--main-red);
}

/* Table of contents */
.create-story .table-of-contents {
	flex: 0 0 10vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: block;
  height: 100vh;
}
@media all and (min-width: 50em) {
  .create-story .table-of-contents {
		left: 4.5rem;
    z-index: 10;
    /* overflow: scroll; */
		width: 15vw;
		height: 100%;
	}
}

/* Hamburger menu - mobile  */
.create-story .table-of-contents button {
  display: block;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
	border: 0;
  border-radius: 0;
	background-color: var(--main-red);
}
.create-story .table-of-contents .close {
	display: none;
}
@media all and (min-width: 50em) {
  .create-story .table-of-contents button {
		display: none;
	}
  .create-story .table-of-contents .open,
  .create-story .table-of-contents .close {
		display: none !important;
	}
}

.create-story .table-of-contents button svg {
  display: block;
  width: 100%;
  height: 100%;
	fill: var(--main-white);
}
.create-story .table-of-contents button:nth-child(2) svg {
  width: 75%;
  height: 75%;
  margin: 12.5%;
}

.create-story .table-of-contents ol {
  display: block;
  overflow: scroll;
  height: calc(100vh - 4rem);
  background-color: var(--main-red);
  list-style: none;
	clear: both;
  transform: translateX(-4rem);
	transition: all .3s ease-in-out;
}
.create-story .table-of-contents .first,
.create-story .table-of-contents .close-menu {
  transform: translateX(-4rem);
}
.create-story .table-of-contents .open-menu {
  transform: translateX(0);
}
@media all and (min-width: 50em) {
  .create-story .table-of-contents ol {
    height: 100vh;
    padding-top: 5vh;
    background-color: rgba(255,255,255,0.8);
    transform: translateX(0);
  }
  .create-story .table-of-contents .first {
    transform: translateX(0);
  }
	.create-story .table-of-contents ol::after {
    position: absolute;
    right: 0;
		top: 0;
		z-index: 100;
		width: 50%;
    min-height: 100vh;
		height: inherit;
    padding-bottom: 5%;
		background-color: var(--main-red);
    content: '';
	}
}

.create-story .table-of-contents ol li a {
  display: flex;
  justify-content: center;
	text-decoration: none;
}
.create-story .table-of-contents ol li a:focus,
.create-story .table-of-contents ol li a:hover,
.create-story .table-of-contents ol li a:active {
  color: var(--main-red);
}
@media all and (min-width: 50em) {
  .create-story .table-of-contents ol li a {
    justify-content: flex-start;
    color: var(--main-black);
  }
}

.create-story .table-of-contents ol li h2 {
	width: 50%;
  padding: .25rem 0;
  color: var(--main-white);
  font-size: var(--base-fz);
	text-align: center;
  text-decoration: underline;
  transition: 1s;
}
.create-story .table-of-contents ol li h2.active-year {
  font-size: 1.25em;
  font-weight: var(--heading-fw);
  text-decoration: none;
}
@media all and (min-width: 50em) {
  .create-story .table-of-contents ol li h2 {
    color: var(--main-black);
  }
  .create-story .table-of-contents ol li h2.active-year {
  	position: relative;
    z-index: 1000;
  	width: 50%;
    margin-left: 50%;
  	color: var(--main-white);
  	font-size: 1.75em;
    font-weight: var(--heading-fw);
  	text-align: center;
    text-decoration: none;
  }
}

/* Contents */
.create-story .contents {
  position: relative;
  top: 4rem;
  display: block;
  width: 100%;
}
@media all and (min-width: 50em) {
  .create-story .contents {
    left: calc(15vw + 4.5rem);
    top: 0;
    width: calc(100% - 15vw - 4.5rem);
  }
}

/* Title */
.create-story .contents h1 {
  display: block;
	width: 95%;
	margin: 2.5vw;
}

.create-story .year {
	margin: 0 2.5vw;
}

.create-story .year .crosses {
	width: 10rem;
	margin-top: 2%;
  margin-bottom: 5%;
}

.create-story .data ul {
	-webkit-columns: 15rem 2;
	-moz-columns: 15rem 2;
	columns: 15rem 2;
	margin: 0;
	padding: 0;
	list-style: none;
}
@media all and (min-width: 50em) {
	.create-story .data ul {
		-webkit-columns: 20vw 3;
		-moz-columns: 20vw 3;
		columns: 20vw 3;
	}
}

.create-story .data ul li {
  opacity: 1;
  border-radius: .3125rem;
  margin-bottom: 10%;
  color: var(--main-black);
  background-color: var(--main-white);
	break-inside: avoid;
}

.create-story .data ul li label {
	cursor: pointer;
}

.create-story .data ul li div p {
  display: inline-block;
  width: 75%;
  padding: 5% 0;
	margin: 0;
}

.create-story .data ul li div a {
	display: inline-block;
  width: 7.5%;
  margin-left: 12.5%;
	margin-top: 5%;
}
.create-story .data ul li div a:focus,
.create-story .data ul li div a:hover {
	padding-bottom: 1%;
	border-bottom: .125rem solid var(--main-black);
  outline: 0;
}

.create-story ul li div a img {
	width: 75%;
}

.create-story ul li div:first-child img {
	width: 100%;
}

.create-story form ul li input[type="checkbox"] {
  opacity: 0;
  width: 0;
	height: 0;
  padding: 0;
	margin: 0;
}

.create-story form ul li input[type="checkbox"]:checked ~ .check,
.create-story form ul li input[type="checkbox"]:focus ~ .check {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: block;
  opacity: 1;
	width: 100%;
	height: 80%;
}

.create-story form ul li div.content {
  position: relative;
}

.create-story form ul li div:hover .check,
.create-story form ul li label div input[type="checkbox"]:focus + .check {
	position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 1;
	width: 100%;
	height: 80%;
}

.create-story form ul li input[type="checkbox"]:checked ~ img {
	opacity: .3;
}

.create-story form ul li label div:hover .check::after,
.create-story form ul li input[type="checkbox"]:focus ~ .check::after {
  position: absolute;
  left: calc((100% - 3.125rem) / 2);
  top: calc((100% - 3.125rem) / 2);
  display: block;
	width: 3.125rem;
	height: 3.125rem;
	background: url('/images/check-hover.svg') no-repeat center;
	background-size: 3.125rem 3.125rem;
	content: '';
  transition: transform .3s ease-in-out;
}

.create-story form ul li input[type="checkbox"]:checked ~ .check::after {
  position: absolute;
  left: calc((100% - 3.125rem) / 2);
  top: calc((100% - 3.125rem) / 2);
  display: block;
	width: 3.125rem;
	height: 3.125rem;
	background: url('/images/checked.svg') no-repeat center;
  background-size: 3.125rem 3.125rem;
	content: '';
  transform: scale(1.5, 1.5);
  transition: transform .3s ease-in-out;
}

/* Selected-images bar */
.create-story .selected-images {
	position: fixed;
  bottom: 0;
  z-index: 999;
  display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
  overflow-x: scroll;
  width: 100%;
	height: 20vh;
	background-color: var(--main-red);
	box-shadow: 1px 1px 0px 4px rgba(0,0,0,.1);
	transform: translateY(20vh);
  transition: transform .7s;
}
.show-selected-images {
	transform: translateY(0) !important;
}
@media all and (min-width: 50em) {
  .create-story .selected-images {
		width: 80vw;
  }
}

.create-story .selected-images a {
  transition: all .3s ease-in-out;
  cursor: zoom-in;
}
.create-story .selected-images a:focus,
.create-story .selected-images a:hover,
.create-story .selected-images a:active {
  transform: scale(.9,.9);
}

.create-story .selected-images img {
  display: inline-block;
  height: 15vh;
	margin-right: 2%;
	margin-top: 1.5vh;
}

.create-story .selected-images img:last-of-type {
	padding-right: 2%;
}

.create-story .next-page .submit-chapter {
	position: fixed;
  right: 2vw;
	bottom: 22vh;
  z-index: 11;
	width: 50vw;
	transform: translateY(30vh);
}
@media all and (min-width: 50em) {
  .create-story .next-page .submit-chapter {
    width: 15vw;
  }
}

.create-story .next-page .submit-chapter + span {
	position: fixed;
  right: 1vw;
  bottom: 27.5vh;
  z-index: 12;
  width: 2rem;
  height: 2rem;
  padding: .25%;
  border: .1875rem solid var(--main-red);
  border-radius: 50%;
  color: var(--main-black);
  background-color: var(--main-white);
  text-align: center;
	transform: translateY(30vh);
}
@media all and (min-width: 50em) {
  .create-story .next-page .submit-chapter + span {
    bottom: 26vh;
  }
}

.create-story .selected-images::-webkit-scrollbar {
  width: .625rem;
}
.create-story .selected-images::-webkit-scrollbar-track {
  opacity: .5;
  background: var(--main-red);
}
.create-story .selected-images::-webkit-scrollbar-thumb {
  background: var(--main-white);
	border-radius: .625rem;
}
.create-story .selected-images::-webkit-scrollbar-thumb:hover {
	background: var(--main-black);
}

/*
====================
  My story
====================
*/

.my-story nav ol {
	z-index: 100;
}

.my-story nav > a {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
	display: block;
  /* box-sizing: border-box; */
	width: 5rem;
	height: 5rem;
  padding: var(--main-spacing);
}
.my-story nav > a:focus,
.my-story nav > a:hover,
.my-story nav > a:active {
  background-color: var(--main-black);
}

.my-story nav > a img {
	width: 100%;
  height: 100%;
}

.my-story nav .register-years {
  position: fixed;
  left: 0;
  top: 0;
	display: flex;
	flex-direction: column;
  width: 5rem;
  height: 100vh;
	padding: 0;
  padding-top: 5rem;
	margin: 0;
  background-color: var(--main-red);
}

.my-story nav .register-years > li {
  display: block;
  width: 5rem;
}

.my-story nav .register-years > li:focus,
.my-story nav .register-years > li:hover,
.my-story nav .register-years > li.active-menu {
	background-color: var(--main-black);
}

.my-story nav .register-years li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 .5rem;
  color: var(--main-white);
  font-size: 1.25rem;
  text-decoration: none;
}

.my-story nav .register-chapters li > a,
.my-story nav .register-chapters li > button {
	justify-content: flex-start;
	margin-left: 2rem;
}

.my-story .register-chapters {
  position: fixed;
  left: 5rem;
  top: 0;
  z-index: 100;
  display: none;
  flex-wrap: nowrap;
  width: calc(100% - 5rem);
  height: 5rem;
  padding: 0;
  margin: 0;
  background-color: var(--main-red);
}

.my-story .register-chapters.show-chapter {
  z-index: 1000;
  display: flex;
}

.my-story .register-chapters > li {
  display: block;
  height: 5rem;
}

.my-story .register-chapters > li > a {
	color: var(--main-red);
}

.my-story .personal-data {
  display: block;
  margin: var(--main-spacing) 5%;
}

/* Article */
.my-story main {
  width: calc(100% - 5rem);
	margin-left: 5rem;
	margin-top: 5rem;
}

.my-story article {
	width: 90%;
	margin-left: 5%;
}

.my-story article:last-of-type {
	min-height: 100vh;
}

/* Sticky title */
.my-story .title-sticky {
 	position: sticky;
  top: 0;
  z-index: 0;
  padding: 2% 0;
 	background-color: var(--main-white);
}

.my-story img.crosses {
	width: 4rem;
  margin-bottom: var(--main-spacing);
}

.my-story h2 {
  width: 100%;
}

/* Images grid */
.my-story main ul {
  padding: 0;
  margin: 0;
  -webkit-columns: 15rem 3;
  -moz-columns: 15rem 3;
	columns: 15rem 3;
	list-style: none;
}

.my-story main ul li {
	display: inline-block;
	break-inside: avoid;
	background-color: var(--main-white);
	color: var(--main-black);
	margin-bottom: 10%;
	border-radius: 5px;
	opacity: 1;
}

.my-story ul li div p {
	margin: 0;
	padding: 5% 0;
	width: 75%;
	display: inline-block;
	border: 1px solid transparent;
	padding: 2%;
}

.my-story ul li div p::after {
	background-image: url('/images/pencil-edit-button.svg');
	background-size: 15px 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	content:"";
	margin-left: 5%;
}

.my-story ul li div p:active,
.my-story ul li div p:focus {
	border: 1px solid var(--main-black);
	outline: none;
}

.my-story ul li div p:active::after,
.my-story ul li div p:focus::after {
	background-image: none;
}


.my-story ul li div a {
	display: inline-block;
	margin-top: 5%;
	width: 7.5%;
  margin-left: 5%;
}


.my-story ul li div a:hover,
.my-story ul li div a:focus {
	outline: 0;
	padding-bottom: 1%;
	border-bottom: 2px solid var(--main-black);
}

.my-story ul li div a img {
	width: 75%;
}

.my-story ul li div:first-child img {
	width: 100%;
}
