:root {
  --main-black: black;
  --main-white: white;
	--main-lightgrey: lightgrey;
	--main-bg: LightSlateGrey;
	--main-red: #DA121A;
}

body {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
}

p, a, li {
	font-size: 0.9em;
}

/* HOMEPAGE: INTRO */
/* radio buttons */
.home section:first-of-type, .home section:last-of-type {
	width: 90%;
	margin-left: 5%;
}

.home aside {
	width: 100%;
}

@media only screen and (min-width: 50em) {
	.home section:first-of-type {
		display: inline-block;
		width: 55%;
		float: left;
	}

	.home aside {
		display: inline-block;
		width: 35%;
		margin-left: 5%;
		float: right;
	}

	.home section:last-of-type {
		display: inline-block;
		width: 55%;
		float: left;
	}
}

.home section:first-of-type h1 {
	font-size: 3em;
	margin-top: 20vh;
	width: 80%;
	font-weight: bolder;
}

.home section:first-of-type p {
	font-size: 1.1em;
	width: 50%;
	font-weight: light;
}

.home section:last-of-type input {
	display: block;
	background-color: var(--main-red);
	color: var(--main-white);
	border: none;
	padding: 2%;
	margin-bottom: 2%;
	text-indent: 30px;
	height: 5vh;
	width: 60%;
}

.home section:last-of-type input::placeholder {
	color: rgba(255,255,255,0.7);
}

.home section:last-of-type div.search {
	position: relative;
}

.home section:last-of-type div.search img {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
	width: 15px !important;
}

.home section:last-of-type .stories a {
	display: inline-block;
	width: 30%;
	margin-right: 2%;
}

.home section:last-of-type .stories a img {
	width: 100%;
}

.home section:last-of-type .stories a p {
	margin-bottom: 2rem;
}

.home aside {
	background-color: var(--main-red);
	height: 100%;
	top: 0;
}

.home form {
	width: 80%;
	padding-top: 40%;
	margin: 0;
	margin-left: 10%;
}

@media only screen and (min-width: 50em) {
	.home aside {
		position: fixed;
	}
}

.home form div {
	display: inline-block;
	text-align: center;
	width: 70%;
	margin-left: 5%;
	z-index: 100;
	color: var(--main-white);
	height: 12em;
}

.home form button.slider {
	display: inline-block;
	float: left;
	background: none;
	border: none;
	margin-top: 10%;
}

.home form .next {
	float: right !important;
}

.home form div img {
	display: block;
	width: 30%;
	margin-left: 35%;
}

.home form div p {
	width: 90%;
	margin-left: 5%;
	text-align: center;
	font-size: 1em;
}

.home form input[type="radio"] {
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.home form nav {
	margin-top: 10%;
	width: calc(25px*3);
	margin-left: calc((100% - 25px*3)/2);
}

.home form nav button {
	cursor: pointer;
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: 5px;
	border: 0;
}

.activeSlider {
	background-color: white !important;
}

.home form button[type="submit"] {
	margin-top: 10%;
	width: 80%;
	height: 7.5%;
	margin-left: 10%;
	border: none;
	color: var(--main-red);
	font-weight: bold;
	font-size: 1em;
}

/* NEW-STORY */
.new-story {
	overflow: hidden;
}

/* leaflet map */
.new-story #map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100vw;
	height: 100vh;
}

.new-story #map .leaflet-interactive {
	fill: var(--main-red);
	stroke: var(--main-red);
}

.new-story .mapboxgl-ctrl-logo {
	display: none !important;
}

.new-story .mapboxgl-ctrl-bottom-right {
	display: none;
}

/* top layer: h1 & select & search*/
.new-story .meta-data {
	width: 100vw;
	height: 40vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.8);
}

.new-story .select-street {
	position: absolute;
	z-index: 10;
	width: 70vw;
	left: 20vw;
	top: 5vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
}

.new-story h1 {
	margin: 0;
	color: black;
	font-size: 2em;
	width: 100%;
	margin-bottom: 5%;
}

.new-story .radiusSelect {
	display: inline-block;
	width: 90%;
	order: 1;
	margin-bottom: 5%;
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
	background-color: black;
	overflow: hidden;
	border-radius: 10px;
}

.new-story select {
  color: #fff;
	background: transparent;
	border: none;
	font-size: 1em;
	height: 5vh;
  margin-left: 5%;
	width: calc(200px + 70%);
}

/* Search bar */
.new-story .search-location {
	display: flex;
	order: 2;
	width: 100%;
	margin: 0;
	display: inline-block;
	align-items: flex-start;
}

@media only screen and (min-width: 50em) {
	.new-story .meta-data {
    height: 30vh;
	}

	.new-story .search-location {
		left: 20vw;
		width: 70vw;
	}

	.new-story .select-street {
		flex-direction: row;
	}

	.new-story .radiusSelect {
		width: 20%;
		order: 2;
		margin-bottom: 0;
	}

	.new-story .search-location {
		order: 1;
		width: 40%;
	}
}

.new-story .search-location input {
	display: inline-block;
	width: 60%;
	height: 5vh;
	padding: 0;
	padding-left: 5%;
	border: 3px solid black;
	color: black;
	font-size: 1em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.new-story .search-location button {
	display: inline-block;
	height: 5vh;
	width: 30%;
	padding: 0;
	border: 3px solid black;
	background-color: black;
	color: white;
	font-size: 1em;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: -2%;
}

.new-story .autocomplete {
	width: 100%;
	order: 4;
}

.new-story .autocomplete ul {
	padding: 0;
	margin: 0;
	width: 24%;
	background-color: white;
	list-style: none;
	padding: 2% 0;
}

.new-story .autocomplete ul li {
	padding-left: 5%;
	margin-bottom: 5%;
}

.new-story .autocomplete ul li a {
	color: black;
}

/* multiple rangeslider - noUiSlider */
#slider {
	position: absolute;
	top: 3.5vh;
	left: 5%;
	height: 94vh;
	width: 1.5em;
  border-radius: 1em;
}

.noUi-background {
	background: black;
}

.noUi-vertical {
	width: 2em;
}

.noUi-base, .noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connect {
	background: var(--main-red);
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 1em;
}

.animate {
	transition: top 1s;
}

.noUi-vertical .noUi-handle {
	position: relative;
	z-index: 1;
  width: 3.5em;
  height: 3.5em;
	border-radius: 50%;
	border: 0.3em solid var(--main-red);
	box-sizing: border-box;
	left: -1em;
  top: -2em;
	background: #FFF;
	cursor: ns-resize;
}

.noUi-tooltip {
	position: absolute;
	height: 1em;
  top: .9em;
	left: 0.3em;
	font-weight: bold;
}

/* outputs */
.new-story .timestamp-min-static {
	display: none;
	position: absolute;
	top: 3vh;
	left: calc(5% + 1.7em);
	z-index: 0;
	color: black;
	font-size: 1.5em;
}

.new-story .timestamp-max-static {
	display: none;
	position: absolute;
	bottom: 2.5vh;
	left: calc(5% + 1.7em);
	z-index: 0;
	color: black;
	font-size: 1.5em;
}

#rangevalueMin, #rangevalueMax {
	display: none;
}

/* submit button */
.new-story form.location-and-timestamp button {
	position: absolute;
	bottom: 5%;
	right: 20%;
	width: 60%;
	height: 5%;
	border: none;
	color: white;
	background-color: var(--main-red);
	font-weight: bold;
	font-size: 1em;
	border-radius: 10px;
}

.new-story form.location-and-timestamp button::after {
	background-image: url('/images/chevron-sign-to-right.svg');
	background-size: 15px 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	content:"";
	margin-left: 5%;
}


@media only screen and (min-width: 50em) {
	.new-story form.location-and-timestamp button {
		right: 10%;
		width: 20%;
		bottom: 10%;
	}

	.new-story .timestamp-max-static, .new-story .timestamp-min-static {
		display: block;
	}
}

/* CREATE-STORY */
/* form */
.create-story {
	padding: 0;
	margin: 0;
}

/* layout page */
.create-story .grid {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.create-story .map-visualisation {
	display: none;
}

.create-story .map-visualisation .back {
	position: absolute;
  left: 5%;
  top: 5%;
  height: 5%;
  width: 5%;
  z-index: 1000;
  text-decoration: none;
  background-color: white;
  font-size: 2em;
  border: 4px solid black;
	color: black;
}

.create-story .map-visualisation .back img {
	width: 100%;
	height: 100%;
	transform: rotate(90deg);
}

.create-story .table-of-contents {
	flex-basis: 10vw;
	background-color: var(--main-red);
	color: white;
}

.create-story .contents {
	width: 80vw;
	margin: 0;
}

@media only screen and (min-width: 50em) {
	.create-story .map-visualisation {
		display: block;
		width: 30vw;
		z-index: 1;
		position: fixed;
		left: 0;
		top: 0;
	}

	.create-story .table-of-contents {
		left: 5vw;
		width: 15vw;
		height: 100%;
		overflow: scroll;
		z-index: 100;
		background-color: rgba(255,255,255,0.9);
		color: black;

		position: fixed;
		padding-top: 5vh;
	}

	.create-story .contents {
		width: 80vw;
		margin-left: 20vw;
	}
}

/* map visualisation */
.create-story .map-visualisation #map {
	height: 100vh;
	width: 20vw;
}

.create-story .map-visualisation #map .leaflet-interactive {
	display: none;
}

/* table of contents */
@media only screen and (min-width: 50em) {
	.create-story .table-of-contents ol::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: inherit;
		background-color: var(--main-red);
		z-index: 100;
		padding-bottom: 5%;
		min-height: 100vh;
	}
}

.create-story .table-of-contents ol {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	clear: both;
	transition: max-height .2s ease-out;
}

.create-story .table-of-contents ol li {
	font-weight: lighter;
}

.create-story .table-of-contents ol li h1 {
	width: 50%;
	text-align: center;
	margin-left: 5%;
  transition: 1s;
	text-decoration: underline;
}

.create-story .table-of-contents ol li h1.active-year {
	position: relative;
	width: 50%;
	color: white;
	font-size: 2em;
	margin-left: 50%;
	z-index: 1000;
	text-align: center;
	text-decoration: none;
}

.create-story .table-of-contents ol li a {
	text-decoration: none;
}

/* hamburger menu - mobile  */
.create-story .table-of-contents button {
	border: none;
	background-color: var(--main-red);
}

.create-story .table-of-contents button svg {
	fill: white;
}

.create-story .table-of-contents .close {
	display: none;
}

.create-story .table-of-contents .first {
	max-height: 0;
}

.create-story .table-of-contents .close-menu {
	max-height: 0;
}

.create-story .table-of-contents .open-menu {
	max-height: 100vh;
}

@media only screen and (min-width: 50em) {
	.create-story .table-of-contents ol a {
		color: black;
	}

	.create-story .table-of-contents .first {
		max-height: none;
	}

	.create-story .table-of-contents .open, .create-story .table-of-contents .close {
		display: none !important;
	}

	.create-story .table-of-contents button {
		background-color: rgba(255,255,255,0.9);
	}
}

/* contents */
/* title */
.create-story .contents h1 {
	color: black;
	width: 100%;
	margin: 0;
	margin-left: 2.5vw;
	position: sticky;
	top: -0.95;
	padding: 2% 0;
	background-color: white;
	z-index: 1000;
}

/* each year */
.create-story .year {
	margin: 0 2.5vw;
}

.create-story .year .crosses {
	width: 10em;
	margin-top: 2%;
  margin-bottom: 5%;
}

.create-story .data ul {
	-webkit-columns: 25vw 1;
	-moz-columns: 25vw 1;
	columns: 25vw 1;
	column-fill: auto;
	column-fill: balance;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media only screen and (min-width: 50em) {
	.create-story .contents h1 {
		width: 95%;
	}

	.create-story .data ul {
		-webkit-columns: 20vw 3;
		-moz-columns: 20vw 3;
		columns: 20vw 3;
		column-fill: auto;
	}
}

.create-story .data ul li {
	break-inside: avoid;
	background-color: var(--main-white);
	color: var(--main-black);
	margin-bottom: 10%;
	border-radius: 5px;
	opacity: 1;
}

.create-story .hide-li div.content {
	opacity: 0.5 !important;
	/* transition: opacity 0.5s; */
}

.create-story .data ul li label {
	cursor: pointer;
}

.create-story .data ul li div p {
	margin: 0;
	padding: 5% 0;
	width: 75%;
	display: inline-block;
}

.create-story .data ul li div a {
	display: inline-block;
	margin-top: 5%;
	width: 7.5%;
  margin-left: 12.5%;
}

.create-story .data ul li div a:hover,
.create-story .data ul li div a:focus {
	outline: 0;
	padding-bottom: 1%;
	border-bottom: 2px solid black;
}

.create-story ul li div a img {
	width: 75%;
}

.create-story ul li div:first-child img {
	width: 100%;
}

.create-story form ul li input[type="checkbox"] {
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.create-story form ul li input[type="checkbox"]:checked ~ .check,
.create-story form ul li input[type="checkbox"]:focus ~ .check {
	position: absolute;
	display: block;
	width: 18vw;
	height: auto;
	opacity: 1;
	z-index: 100;
}

.create-story form ul li div:hover .check {
	position: absolute;
	display: block;
	width: 18vw;
	height: auto;
	opacity: 1;
	z-index: 100;
}

.create-story form ul li input[type="checkbox"]:checked ~ img {
	opacity: 0.5;
}

.create-story form ul li label div:hover .check::after,
.create-story form ul li input[type="checkbox"]:focus ~ .check::after {
	background-image: url('/images/check-hover.svg');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
	margin-left: 95%;
	margin-top: -2%;
}

.create-story form ul li input[type="checkbox"]:checked ~ .check::after {
	background-image: url('/images/checked.svg');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
	margin-left: 95%;
	margin-top: -2%;
}

/* Popup box BEGIN */
.detail {
  background: rgba(0,0,0,.4);
  cursor: pointer;
  display: none;
  position: fixed;
  text-align: center;
	height:100%;
  width: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
}

.show {
	display: block;
}

.detail .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.detail > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
	height: 60vh;
	width: min-content;

	vertical-align: middle;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.detail > div img {
	width: 50vw;
  max-height: 50vh;
	width: auto;
}

.popupCloseButton {
	color: var(--main-black);
  background-color: var(--main-white);
  border: 3px solid white;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.popupCloseButton:hover {
  background-color: var(--main-black);
	color: var(--main-white);
}

/* selected-images bar */
.create-story .selected-images {
	position: fixed;
	bottom: 0;
	height: 20vh;
	width: 85vw;
	background-color: var(--main-red);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	overflow-x: scroll;
	box-shadow: 1px 1px 0px 4px rgba(0,0,0,.1);
	transform: translateY(20vh);
}

.show-selected-images {
	transform: translateY(0) !important;
	transition: transform .7s;
}

.create-story .selected-images img {
	margin-right: 2%;
	height: 15vh;
	margin-top: 1.5vh;
	display: inline-block;
}

.create-story .selected-images img:last-of-type {
	padding-right: 2%;
}

.create-story .next-page .submit-chapter {
	position: fixed;
	bottom: 22vh;
	right: 2vw;
	width: 50vw;
	height: 5vh;
	background-color: var(--main-red);
	transform: translateY(30vh);
	cursor: pointer;
	color: white;
	border: none;
}

.create-story .next-page .submit-chapter + span {
	position: fixed;
  bottom: 26vh;
  right: 1vw;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  color: black;
  border: 3px solid var(--main-red);
	transform: translateY(30vh);
	padding: .25%;
}

@media only screen and (min-width: 50em) {
	.create-story .selected-images {
		position: fixed;
		bottom: 0;
		height: 20vh;
		width: 80vw;
	}

	.create-story .next-page .submit-chapter {
    position: fixed;
    bottom: 22vh;
    right: 2vw;
    width: 10vw;
	}
}

.create-story .selected-images::-webkit-scrollbar {
  width: 10px;
}

.create-story .selected-images::-webkit-scrollbar-track {
  background: var(--main-red);
	opacity: 0.5;
}

.create-story .selected-images::-webkit-scrollbar-thumb {
  background: white;
	border-radius: 10px;
}

.create-story .selected-images::-webkit-scrollbar-thumb:hover {
	background: grey;
}
