:root {
  --main-black: black;
  --main-white: white;
	--main-lightgrey: lightgrey;
	--main-bg: LightSlateGrey;
	--main-red: #DA121A;
}

body {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
}

p, a, li {
	font-size: 0.9em;
}

/* HOMEPAGE: INTRO */
/* radio buttons */
.home section:first-of-type, .home section:last-of-type {
	width: 90%;
	margin-left: 5%;
}

.home aside {
	width: 100%;
}

@media only screen and (min-width: 50em) {
	.home section:first-of-type {
		display: inline-block;
		width: 55%;
		float: left;
	}

	.home aside {
		display: inline-block;
		width: 35%;
		margin-left: 5%;
		float: right;
	}

	.home section:last-of-type {
		display: inline-block;
		width: 55%;
		float: left;
	}
}

.home section:first-of-type h1 {
	font-size: 3em;
	margin-top: 20vh;
	width: 80%;
	font-weight: bolder;
}

.home section:first-of-type p {
	font-size: 1.1em;
	width: 50%;
	font-weight: light;
}

.home section:last-of-type input {
	display: block;
	background-color: var(--main-red);
	color: var(--main-white);
	border: none;
	padding: 2%;
	margin-bottom: 2%;
	text-indent: 30px;
	height: 5vh;
	width: 60%;
}

.home section:last-of-type input::placeholder {
	color: rgba(255,255,255,0.7);
}

.home section:last-of-type div.search {
	position: relative;
}

.home section:last-of-type div.search img {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
	width: 15px !important;
}

.home section:last-of-type .stories a {
	display: inline-block;
	width: 30%;
	margin-right: 2%;
}

.home section:last-of-type .stories a img {
	width: 100%;
}

.home section:last-of-type .stories a p {
	margin-bottom: 2rem;
}

.home aside {
	background-color: var(--main-red);
	height: 100%;
	top: 0;
}

.home form {
	width: 80%;
	padding-top: 40%;
	margin: 0;
	margin-left: 10%;
}

@media only screen and (min-width: 50em) {
	.home aside {
		position: fixed;
	}
}

.home form div {
	display: inline-block;
	text-align: center;
	width: 70%;
	margin-left: 5%;
	z-index: 100;
	color: var(--main-white);
	height: 12em;
}

.home form button.slider {
	display: inline-block;
	float: left;
	background: none;
	border: none;
	margin-top: 10%;
}

.home form .next {
	float: right !important;
}

.home form div img {
	display: block;
	width: 30%;
	margin-left: 35%;
}

.home form div p {
	width: 90%;
	margin-left: 5%;
	text-align: center;
	font-size: 1em;
}

.home form input[type="radio"] {
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.home form nav {
	margin-top: 10%;
	width: calc(25px*3);
	margin-left: calc((100% - 25px*3)/2);
}

.home form nav button {
	cursor: pointer;
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: 5px;
	border: 0;
}

.activeSlider {
	background-color: white !important;
}

.home form button[type="submit"] {
	margin-top: 10%;
	width: 80%;
	height: 7.5%;
	margin-left: 10%;
	border: none;
	color: var(--main-red);
	font-weight: bold;
	font-size: 1em;
}

/* NEW-STORY */
/* leaflet map */
.new-story #map {
	width: 80vw;
	height: 50vh;
	margin-left: 10vw;
}

.new-story .mapboxgl-ctrl-logo {
	display: none !important;
}

.new-story .mapboxgl-ctrl-bottom-right {
	display: none;
}

/* multiple rangeslider */
.new-story form {
	margin-top: 5%;
}

.new-story input[type="range"] {
	width: 80vw;
	margin-left: 10vw !important;
}

.new-story output {
	display: inline-block;
	width: 40vw;
}

.new-story output:first-of-type {
	margin-left: 10vw;
}

.new-story output:last-of-type {
	text-align: right;
}

/* CREATE-STORY */
/* form */
.create-story {
	padding: 0;
	margin: 0;
	background-color: var(--main-bg);
	color: var(--main-white);
}

.create-story h1 {
	margin-left: 5vw;
	height: 5vh;
}

.create-story .user-data {
	width: 20vw;
  float: right;
  margin: 0 5vw;
}

.create-story section.chapter {
	width: 65vw;
}

.create-story label .user-data {
	display: block;
}

.create-story .user-data input[type="text"], .create-story .user-data input[type="number"] {
	display: block;
	margin-bottom: 2%;
}

.create-story .data {
	-webkit-columns: 18vw 3;
	-moz-columns: 18vw 3; /* Firefox */
	columns: 18vw 3;

	margin-left: 5vw;
	column-fill: auto;
}

.create-story .data div.image{
	break-inside: avoid;
	background-color: var(--main-white);
	color: var(--main-black);
	margin-bottom: 10%;
	border-radius: 5px;
}

.create-story .data button {
	/* position: sticky;
	bottom: 5%; */
}

.create-story .data div p {
	margin: 0;
	padding: 5%;
	width: 75%;
	display: inline-block;
}

.create-story .data div a {
	display: inline-block;
	width: 10%;
}

.create-story .data div a:hover, .create-story .data div a:focus {
	outline: 0;
	width: 12%;
}

.create-story div a img {
	width: 75%;
}

.create-story .data label {
	cursor: pointer;
}

.create-story div img {
	width: 100%;
}

.create-story h2 {
	margin-left: 5vw;
	height: 5vh;
}

.create-story form input[type="checkbox"] {
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.create-story form input[type="checkbox"]:checked ~ section, form input[type="checkbox"]:focus ~ section {
	position: absolute;
	display: block;
	width: 18vw;
	height: auto;
	opacity: 1;
	z-index: 100;
}

.create-story form div:hover section {
	position: absolute;
	display: block;
	width: 18vw;
	height: auto;
	opacity: 1;
	z-index: 100;
}

.create-story form input[type="checkbox"]:checked ~ img, .create-story form input[type="checkbox"]:focus ~ img  {
	opacity: 0.5;
}

.create-story form label div:hover section::after, form input[type="checkbox"]:focus ~ section::after {
	background-image: url('/images/check-hover.svg');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
	margin-left: 95%;
	margin-top: -2%;
}

.create-story form input[type="checkbox"]:checked ~ section::after {
	background-image: url('/images/checked.svg');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
	margin-left: 95%;
	margin-top: -2%;
}

/* Popup box BEGIN */
.detail {
  background: rgba(0,0,0,.4);
  cursor: pointer;
  display: none;
  position: fixed;
  text-align: center;
	height:100%;
  width: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
}

.show {
	display: block;
}

.detail .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.detail > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
	height: 60vh;
	width: min-content;

	vertical-align: middle;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.detail > div img {
	width: 50vw;
  max-height: 50vh;
	width: auto;
}

.popupCloseButton {
	color: var(--main-black);
  background-color: var(--main-white);
  border: 3px solid white;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.popupCloseButton:hover {
  background-color: var(--main-black);
	color: var(--main-white);
}
