<div class="tweets-noord">
	<blockquote class="twitter-tweet" data-lang="nl"><p lang="nl" dir="ltr">Voor degene die dacht dat <a href="https://twitter.com/Airbnb?ref_src=twsrc%5Etfw">@Airbnb</a> alleen maar een probleem in het centrum van <a href="https://twitter.com/hashtag/Amsterdam?src=hash&amp;ref_src=twsrc%5Etfw">#Amsterdam</a> is.<br><br>Ook in mijn buurt in <a href="https://twitter.com/hashtag/Noord?src=hash&amp;ref_src=twsrc%5Etfw">#Noord</a> steeds meer rolkoffers. <a href="https://t.co/tajJVNnlpT">pic.twitter.com/tajJVNnlpT</a></p>&mdash; Alphons Muurlink PvdA kandidaat gemeenteraad A&#39;dam (@muurlink) <a href="https://twitter.com/muurlink/status/961000715563995138?ref_src=twsrc%5Etfw">6 februari 2018</a></blockquote>
</div>
