<div class="tweets-zuid">
	<blockquote class="twitter-tweet" data-lang="nl"><p lang="nl" dir="ltr">Ruit van joods centrum op Albert Cuyp  ingegooid. Beelden tonen dat het hier om doelbewuste actie ging. <a href="https://twitter.com/hashtag/AlbertCuyp?src=hash&amp;ref_src=twsrc%5Etfw">#AlbertCuyp</a> <a href="https://twitter.com/hashtag/Chabad?src=hash&amp;ref_src=twsrc%5Etfw">#Chabad</a> <a href="https://t.co/PulyUZ6mmh">pic.twitter.com/PulyUZ6mmh</a></p>&mdash; Ron Eisenmann (@RonEisenmann) <a href="https://twitter.com/RonEisenmann/status/951421101929914369?ref_src=twsrc%5Etfw">11 januari 2018</a></blockquote>
</div>
