<div class="tweets-zuidoost">
	<blockquote class="twitter-tweet" data-lang="nl"><p lang="nl" dir="ltr">Flikker op met dat gezeik over zwart/wit uit die <a href="https://twitter.com/hashtag/hellhole?src=hash&amp;ref_src=twsrc%5Etfw">#hellhole</a> !! Tis nooit goed voor die uitvreters uit de <a href="https://twitter.com/hashtag/Bijlmer?src=hash&amp;ref_src=twsrc%5Etfw">#Bijlmer</a> <br>Ophef om witte Jezus en zwarte Judas in The Passion <a href="https://t.co/vhaMoHyVVj">https://t.co/vhaMoHyVVj</a> via <a href="https://twitter.com/parool?ref_src=twsrc%5Etfw">@parool</a></p>&mdash; ✡Chrissie❌❌❌כריסטה (@PrinsesChrissie) <a href="https://twitter.com/PrinsesChrissie/status/967528438138572801?ref_src=twsrc%5Etfw">24 februari 2018</a></blockquote>
</div>
